/* Estilo del contenedor */
.floatingInput {
    position: relative;
    width: 100%;
  }
  
  .floatingInput input {
    padding: 1.5rem 0.8rem 0.5rem 0.8rem;
    font-size: 1rem;
    border: 1px solid #aaa;
    border-radius: 4px;
    outline: none; /*no se muestra el contorno del input cuando se selecciona*/
    width: 100%;
    transition: box-shadow 0.3s ease
  }
  
  /* El label inicia sobre el input */
  .floatingInput label {
    position: absolute;
    top: 50%;
    left: 0.8rem;
    transform: translateY(-50%);
    font-size: 1rem;
    color: #aaa;
    pointer-events: none; /* Evita que interfiera con el clic */
    transition: all 0.3s ease; /* Transición suave */
  }
  
  /* Cuando el input tiene foco o contenido, mueve el label hacia arriba */
  .floatingInput input:focus + label,
  .floatingInput input:not(:placeholder-shown) + label {
    transform: translateY(-130%);
    left: 0.8rem;
    font-size: 0.75rem;
  }

  .floatingInput input:focus{
    box-shadow: 0 0 10px #aaa;
  }
  
  .floatingInput input:-webkit-autofill + label {
    transform: translateY(-130%);
    font-size: 0.75rem;
  }