.primaryButton {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  border-style: solid;
  border-color: var(--color-primary-btn-bg);
  background-color: var(--color-primary-btn-bg);
  color: var(--color-primary-btn-text);
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;

}

.secondaryButton {
  font-size: 1rem;
  padding: 0.5rem;
  border-style:solid;
  border-color: var(--color-secondary-btn-border);
  border-radius: 5px;
  background-color: var(--color-secondary-btn-bg);
  color: var(--color-secondary-btn-text);
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.primaryButton:hover:not(:disabled) {
  background-color: var(--color-primary-btn-hover);
  border-color: var(--color-primary-btn-hover);
}

.secondaryButton:hover:not(:disabled) {
  background-color: var(--color-secondary-btn-hover);
}

