.logoContainer {
    max-width: 100%; /* Limita el ancho al tamaño máximo del contenedor */
    border-radius: 50%; /* Borde redondeado completo */
    cursor: pointer;
    overflow: hidden;
    max-height: 100%;
    aspect-ratio: 1; /* Mantiene el contenedor cuadrado */

}

.logo {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen para llenar el contenedor sin deformarse */
}
