.logoContainer {
    height: 100%;
    border-radius: 50%; /* Borde redondeado completo */
    overflow: hidden; /* Asegura que la imagen no sobresalga del contenedor */

}
.logo {
    width: 100%;
    height: 100%;
}
