.signForm{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    gap: 2vh;
    cursor: pointer;
}

.textInput{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    align-items: flex-start;
}

.signForm p{
    color: red;
    font-size: 0.8rem;
}

.errorMessage{
    display: flex;
    background-color: rgb(248, 176, 176);
    color: rgb(235, 32, 32);
    padding: 1rem 1rem;
    border-radius: 4px;
}